body {
    width: 100vw;
    height: 100vh;
}
#page_announcement {
    text-align: center;
    background-image: url("../img/shift_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}