.ui-header{
    background-color:#043540!important;
}
.ui-title {
    color:#fff9f4!important;
}

.left_button{
    background-color:#043540!important;
    height: 3vh!important;
    width: 12vw!important;
    border:none;

