body{

  }
#layer{
    height: 100vh;
    width: 100%;
    background-image: url("images/login/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.9);
}
#page{
    height: 100vh;
    width: 100%;
    background-color: rgba(4,53,64,0.9);
}
#language{
    color: white;
    float: right;
    font-size: 4vw;
    margin-right: 2vw;
    margin-top: 1vw;
}
#logopadding{
    padding-top: 40%;
}
.logo{
    height: 15%;
    width: 25%;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5%;
}
#logoimg{
    width: 156px;
    height: 176px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vw;
}
#login{
    padding-top: 10%;
}
#loginform{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
input::-webkit-input-placeholder {
    color: rgba(4,53,64,0.9) !important;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

input:-moz-placeholder { /* Firefox 18- */
    color: rgba(4,53,64,0.9) !important;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(4,53,64,0.9) !important;
    letter-spacing: 2px;
    font-size: 150%;
    font-weight: bold;

}

input:-ms-input-placeholder {
    color: rgba(4,53,64,0.9) !important;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
#username{
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
}
#password{
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
}
#margin{
    margin-bottom: 20px;
}
#submit{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: transparent;
}
#submitbutton{
    margin-left: auto !important;
    margin-right: auto !important;;
    padding-top: 5vw !important;;
    padding-bottom: 5vw !important;;
    color: white !important;;
    background-color: transparent !important;;
    width: 20vw;
    font-size: 30px;
    border: none;
}
#apply{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 40%;
}