body {
    width: 100vw;
    height: 100vh;
}
#page_shift {
    text-align: center;
    background-image: url("../img/shift_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#myShift_title {
    text-align: center;
    color: #fff9f4;
    line-height: 8vh;
    vertical-align: middle;
    background-color: #043540;
    font-size: 1.6em;
    //display: inline-block
}
#backBtn {
    //display: inline-block;
    float: left;
    color: #fff9f4;
    background-color: #043540;
}
#calendarBtn {
    //display: inline-block;
    float: right;


    border-radius: 0px; !important;
}
.header {
    height: 15vh;
    background-color: transparent; !important;
    margin: 0 auto;
    text-align: center;
    color: #fff9f4;
    background-color: #043540;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: #043540; !important;
    border-color: #043540; !important;
}
.ui-btn-left, .ui-btn-right {
    margin: 0px;!important;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: transparent; !important;
    border-color: transparent; !important;
}

#insideContent {
    width: 80vw;
    margin: auto;
    text-align: center;
}
.invitation a{
    background-color:#043540 !important;
}
.invitation .ui-collapsible-content {
    background-color: #095b6e !important;
}
.invitation2 a {
    background-color:#ffc922 !important;

}
.invitation2 .ui-collapsible-content {
    background-color: #095b6e !important;
}
.invitation3 a{
    background-color: #f56b71 !important;
}
.invitation3 .ui-collapsible-content {
    background-color: #095b6e !important;
}
.invitation .ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn {
    background-color: #095b6e !important;
    font-size: 0.7em;
    text-align: center;
}
.invitation2 .ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn {
    background-color: #095b6e !important;
    font-size: 0.7em;
    text-align: center;
}
.invitation3 .ui-listview > .ui-li-static.ui-last-child, .ui-listview > .ui-li-divider.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn {
    background-color: #095b6e !important;
    font-size: 0.7em;
    text-align: center;
}
#insideContent2 {
    width: 80vw;
    margin: auto;
    text-align: center;
}
#insideContent3 {
    width: 80vw;
    margin: auto;
    text-align: center;
}

.buttonsCollaps {
    color: #fff9f4;
    width: 80vw;
    height: 14vh;
}
#showMap {
    background-color: #8bc7b9;
    color: #fff9f4;
    width: 36vw;
    display: inline;
    font-size: 0.6em;
}
#switchShift {
    background-color: #f18879;
    color: #fff9f4;
    width: 36vw;
    display: inline;
    font-size: 0.6em;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    border-color: transparent; !important;
    color: #fff9f4; !important;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #043540; !important;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border-left-width: 0px; !important;
    border-right-width: 0px; !important;
}

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    border-width: 0px 0 0 0; !important;
    border-style: none; !important;
    color: #fff9f4;
}
#splitUp {
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 10px;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: transparent; /*{global-icon-color}*/;
    background-color: rgba(0,0,0,0) /*{global-icon-disc}*/;
}
.content_arrange {
    font-size: 0.7em;
    display: inline;
}
.content_arrange2 {
    font-size: 0.7em;
    display: inline;
}
.content_arrange3 {
    font-size: 0.7em;
    display: inline;
}
